
body{
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-image: linear-gradient(#ffffff,#5eecb1);
}

.cabeçalho { 
    background-color: #fdfdfd;
    color: rgb(87, 76, 76);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.cabeçalho-imagem{
    width: 10%;
}

.cabeçalho-lista-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}

.escola-imagem{
    width: 20%;
}

.Escola{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 40%;
}

.titulo{
    padding: 24px 0;
}

.grupo-image{
    background-color: #5eecb1;
    height: 70px;
    padding: 12px 0;
}

.estudante-div{
   text-align: center;
   background-color: #5eecb1;
}

.Entre-em-contato-titulo{
    text-align: center;
    padding: 50px 0;
    background-color: #5eecb1;
}

.Entre-em-contato-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.Whatsapp-link{
    background-color: #5eecb1;
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}

.whatsapp-info{
    height: 30px;
}

.logo-do-colegio{
    background-color: #5eecb1;
    align-items: center;
   
}

.div-conteudo2{
    width: 80%;
}

.rodape{
    background-color: #5eecb1;
    padding: 50px;
}

.rodape-div-conteudo{
    width: 40%;
}

.rodape-titulo-final{
    background-color: #5eecb1;
    text-align: center;
}

.rodape-texto-final{
    background-color: #5eecb1;
    text-align: center;
    padding: 20px;
}

.rodape-imagem{
    background-color: #5eecb1;
    height: 70px;
}
